/*
This layout is a standard layout for a fixed desktop browser
used to make very basic webpage for desktop/laptop only
*/

/*Sets the body of the webpages width to be fixed and scroll*/

body {

    width: 100%;
    overflow: scroll;
    background-image: url(codingimage.jpg);
    background-position: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr {

    margin: 0px;
}

/*header is centered and ready to have input*/
#header {
    background-color: darkgray;
    width: 1000px;
    height: 200px;
    border: 5px solid white;
    margin: 10px auto;
    text-align: center;
    filter: opacity(90%);
}
/*place where you want to enter text or image for the title of the website page*/
#headerTitle {

    width: 800px;
    text-align: center;
    border: 3px solid white;
    height: 100px;
    margin: 5px auto;

}

#titletext {

    background-color: white;
    padding: 10px;
    border-radius: 10px;
    font-family: monospace;
    box-shadow: 5px 10px 20px;
}

#madeby{
    
    padding: 10px;
    font-size: 17px;
    border: 5px solid white;
    border-radius: 100px;
    font-family: monospace;
}

/*Used for the navbar within the header*/

#navbar {
    width: 700px;
    margin: 5px auto;
    border: 3px solid;
    height: 70px;
    border-radius: 100px;
}

/*style of the list for teh navbar*/

#navbarList {

    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Style of the buttons for changing pages   */

.navbarLink {
    text-decoration: none;
    color: black;
    margin: 5px 15px;
    border: 2px solid;
    padding: 5px 15px;
    border-radius: 100px;
}

#mainsection {

    width: 1000px;
    height: 800px;
    margin-top: 40px;
    

}


#mainsectioncontent {
    

    background-color: rgb(193, 193, 193);
    height: 830px;
    width: 100%;
    margin: 0px auto;
    border: 10px solid white;
    border-radius: 200px; 
    overflow: hidden;
}

#howToUse {

    text-align: center;
    padding-top: 20px;
    
}

#bintodecbox {
    background-color: rgb(0, 0, 0);
    width: 750px;
    margin: 30px auto;
    height: 350px;
    border: 10px solid white;
    border-radius: 10px; 
}

#outputfordec {

    font-weight: 600;
    color: white;
    font-size: 30px;
    text-align: center;
}

#inputbin {
    height: 50px;
    font-size: 20px;
    text-align: center;
    width: 80%;
    margin-top: 60px;
    margin-left: 70px;
    border-radius: 100px;
    border: 5px solid gray;
}

#submitbutton {
    margin: 40px 180px;
    height: 50px;
    width: 50%;
    color: white;
    font-family: monospace;
    font-weight: 800;
    font-size: 16px;
    background-image: linear-gradient(rgb(0, 0, 0), white);
}